@import './reset';
@import './variables';
@import './mixins';

body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    // background-color: #101b1d;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 60px 90px 60px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: $break-point-2) {
        padding: 20px 30px 90px 20px;
    }
    >nav{
        display: flex;
        align-items: center;
        @media only screen and (max-width: $break-point-2) {
            align-items: flex-start;
        }
        #logo{
            display: flex;
            align-items: center;
            #player-name{
                @include font-style (25px, 33px, 600, #fff);
                >span{
                    font-weight: 300;
                }
            }
            >img{
                margin-right: 5px;
            }
        }
        >ul{
            margin-left: auto;
            display: flex;
            align-items: center;
            @media only screen and (max-width: $break-point-2) {
                flex-direction: column;
                align-items: flex-start;
            }
            >li{
                @media only screen and (max-width: $break-point-1) {
                    margin-bottom: 10px;
                }
                margin-right: 40px;
                &:last-child{
                    margin-right: 0px;
                }
                >select{
                    outline: none;
                    background-color: $light-red;
                    color: #fff;
                    padding: 10px 15px;
                    border-radius: 5px;
                    >option{
                        background-color: #fff;
                        color: $light-red;
                    }
                }
            }
        }
    }
    .btn{
        width: 80px;
        height: 80px;
        outline: none;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
            background-color: $light-red;
            transition: .2s;
        }
        &.prev{
            left: 0px;
        }
        &.next{
            right: 0px;
        }
    }
    // #music-list{
    //     width: 300px;
    //     height: 200px;
    //     background-color: black;
    //     opacity: .3;
    //     margin-left: auto;
    //     margin-right: 100px;
    // }
    .main-sec{
        .music-name{
            >h3{
                @include font-style (40px, 50px, 500, #fff);
                @media only screen and (max-width: $break-point-2) {
                    font-size: 35px;
                }
            }
            margin-bottom: 30px;
        }
        .player-bar{
            display: flex;
            align-items: center;
            @media only screen and (max-width: $break-point-2) {
                flex-wrap: wrap;
            }
            .player-detail{
                margin-right: 20px;
                // position: relative;
                display: flex;
                align-items: center;
                &:hover #volumeBar{
                    width: 80px;
                    transition: .2s;
                }
                >i{
                    font-size: 20px;
                }
                >#volumeBar{
                    height: 10px;
                    width: 0px;
                    background-color: lightgray;
                    margin-left: 5px;
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                    // transform: translateY(-100%);
                    display: flex;
                    align-items: flex-end;
                    >#volume-progress{
                        width: 100%;
                        height: 100%;
                        background-color: $light-red;
                    }
                }
            }
            .timeline{
                @media only screen and (max-width: $break-point-2) {
                    margin-top: 20px;
                }
                height: 5px;
                width: 100%;
                background-color: #fff;
                &:hover{
                    height: 15px;
                    transition: .1s;
                }
                .progress{
                    height: 100%;
                    background-color: $light-red;
                }
            }
        }
    }
}       